body {
    font-family: 'Josefin Sans';
    background-color : rgb(250, 254, 255);
   
}
    * {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}
::-webkit-scrollbar {
    width: 0px;
}
.bodyPart:hover{
    background-color: rgb(219, 23, 93 , .6) !important;
}
.muscle:hover{
    background-color: rgb(19, 20, 41 , .6) !important;
   
}
.right-arrow,
.left-arrow {
    top:50%;
    color: rgb(62, 170, 241);
    font-size: 3rem !important;
    cursor: pointer;
    position: absolute; 
    transform: scale(1, 1);
    transform: translate(.2%, -50%);
    transition: 0.5s all ease-in-out;
}
.hh {
    
   
    filter: drop-shadow(-3px -3px 2px rgba(255,255,255,.3))
            drop-shadow(5px 5px 5px rgba(0,0,0,.2))
            drop-shadow(15px 15px 15px rgba(0,0,0,.2));
           
}
.right-arrow {
    
    right: .2%;
    
    
}
.left-arrow {
    left: .2%;
}

.right-arrow:hover,
.left-arrow:hover {
    
    font-size: 3.5rem !important;
    
}

.react-horizontal-scrolling-menu--wrapper {
    width: 90%;
    justify-self: center;
    display: flex;
    
    flex-wrap: nowrap;
    /* border-bottom: 3px solid rgb(119, 199, 252); */
    border-radius: 30px;

}
.left {
    box-shadow: -5px 0 2px -1px rgba(190, 236, 248 , .9);
    transition: all ease-in-out 100ms;
}
.right {
    box-shadow: 5px 0 2px -1px rgba(190, 236, 248 , .9);
    transition: all ease-in-out 100ms;
   
}

.detail-image {
    width: 40%;
    height: 100%;
    border-radius: 30px;
}

.hero-banner-img {
    position: absolute;
    right: 0px;
    top: 0px;
    width: 600px;
    height: 650px;
    margin-top: -100px;
    border-radius: 250px 0 0 250px;
    background-color: #fff;
}
.react-horizontal-scrolling-menu--scroll-container{
    overflow-x: hidden;
   
}
.exercise-card {
    width: 330px;
    height: 450px;
    background: #fff;
    border-top: 4px solid rgb(248, 82, 140);
    border-radius: 50px;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgb(229, 241, 252);
    flex-direction: column;
    padding-bottom: 15px;
    transform: scale(1, 1);
    transition: 0.2s all ease-in-out;
}

.MuiFilledInput-root , .MuiFilledInput-underline , .MuiInputBase-root , .MuiFilledInput-root input{
    border-radius: 20px 20px 0 0 !important;
}
.MuiInputBase-root::before {
    border: none !important;
}

.exercise-card img {
    align-self: center;
    color: rgba(199, 195, 195, 0.4);
    transition: 0.2s all ease-in-out; 
}

.bodyPart-card {
    transform: scale(1, 1);
     transition: 0.2s all ease-in-out; 
   
}
.bodyPart-card img {
    transform: scale(1, 1);
}
.bodyPart-card img:hover {
    transform: scale(1, 1);
}
.exercise-card:hover,
.bodyPart-card:hover {
    transform: scale(1.1, 1.1);
}
.search-btn{
    border-radius: 0 20px 0 0 !important;
}
.search-btn:hover {
    background-color: rgb(99, 134, 250) !important;
    
    transition: all ease-in-out .5s;
}

.exercise-video {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 20%;
    height: 200px;
    text-decoration: none;
    z-index: 3;
}
.exercise-video img {
   border-radius: 20px;
}
.exercise-video:hover::after {
   content: '';
   height: 75%;
   width: 100%;     
   border-radius: 20px;
   position: absolute;
   z-index: 5;
   background-color: rgba(0,0,0,.2);
   transition: all ease-in-out .5s;
}
.microphone {
    position: absolute;
    bottom: 10px;
    right: 20px;
    width: 56px;
    height: 56px ;
    border-radius: 50%;
    box-shadow: 1px 2px 8px rgb(218, 216, 216);
    background-color :#fff ;
    padding: 6px;
    cursor: pointer;
  }
@media screen and (max-width:1200px) {
    .detail-image {
        width: 300px;
        height: 300px;
    }

    /* .react-horizontal-scrolling-menu--scroll-container {
        width: 500px;
    } */

    

    .hero-banner-img {
        display: none;
    }

    .exercise-card {
        width: 320px;
    }

    .exercise-video {
        width: 320px;
        height: 300px;
    }
}

@media screen and (max-width:400px) {
    .exercise-card {
        width: 280px;
    }
}